<%= form_for(@system_setting) do |f| %>
  <% if @system_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_setting.errors.count, "error") %> prohibited this system_setting from being saved:</h2>

      <ul>
      <% @system_setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br />
    <%= select("system_setting", "event_id", Event.all(:order => "event_date DESC").collect {|e| [ "#{e.name} : #{e.event_date}", e.id] }) %>
  </div>
  <div class="field">
    <%= f.label :min_time_diff %><br />
    <%= f.number_field :min_time_diff %>
  </div>
  <div class="field">
    <%= f.label :break_time %><br />
    <%= f.number_field :break_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
