<table>
  <tr>
    <th>Trap</th>
    <th>Entrant</th>
    <th>Class</th>
    <th>Speed (MPH)</th>
    <th>Time</th>
  </tr>

<% @trap_speeds.each do |trap_speed| %>
  <tr>
    <td><%= trap_speed.station.name %></td>
    <td><%= link_to(trap_speed.entrant.entrant_string, trap_speed.entrant) if trap_speed.entrant != nil %></td>
    <td><%= link_to trap_speed.entrant.vehicle_class.print_name, trap_speed.entrant.vehicle_class %></td>
    <td><%= trap_speed.speed %></td>
    <td><%= trap_speed.capture_time_to_short_timestamp %></td>
  </tr>
<% end %>
</table>
<br>Last Updated : <%= Time.now %>