<h1>Listing trap_speeds</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Station</th>
    <th>Entrant</th>
    <th>Capture time</th>
    <th>Official flag</th>
    <th>Trap number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trap_speeds.each do |trap_speed| %>
  <tr>
    <td><%= trap_speed.event_id %></td>
    <td><%= trap_speed.station_id %></td>
    <td><%= trap_speed.entrant_id %></td>
    <td><%= trap_speed.capture_time %></td>
    <td><%= trap_speed.official_flag %></td>
    <td><%= trap_speed.trap_number %></td>
    <td><%= link_to 'Show', trap_speed %></td>
    <td><%= link_to 'Edit', edit_trap_speed_path(trap_speed) %></td>
    <td><%= link_to 'Destroy', trap_speed, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trap speed', new_trap_speed_path %>
