<h1>Listing Entrants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Number</th>
    <th>Vehicle class</th>
    <th>Vehicle make</th>
    <th>Vehicle model</th>
    <th>Vehicle color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entrants.each do |entrant| %>
  <tr>
    <td><%= entrant.name %></td>
    <td><%= entrant.email %></td>
    <td><%= entrant.phone %></td>
    <td><%= entrant.number %></td>
    <td><%= entrant.vehicle_class_id %></td>
    <td><%= entrant.vehicle_make %></td>
    <td><%= entrant.vehicle_model %></td>
    <td><%= entrant.vehicle_color %></td>
    <td><%= link_to 'Show', entrant %></td>
    <td><%= link_to 'Edit', edit_entrant_path(entrant) %></td>
    <td><%= link_to 'Destroy', entrant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entrant', new_entrant_path %>
