<p>
  <h1>Name:
  <%= @entrant.name %>
  </h1>
</p>

<p>
  <b>Event:</b>
  <%= @entrant.event.name %>
</p>

<% if current_user != nil and current_user.authorized?(:edit_entrants) %>
  <p>
	<b>Email:</b>
	<%= @entrant.email %>
  </p>
  
  <p>
	<b>Phone:</b>
	<%= @entrant.phone %>
  </p>
<% end %>

<p>
  <b>Number:</b>
  <%= @entrant.number %>
</p>

<p>
  <b>Vehicle class:</b>
  <%= @entrant.vehicle_class.print_name %>
</p>

<p>
  <b>Vehicle make:</b>
  <%= @entrant.vehicle_make %>
</p>

<p>
  <b>Vehicle model:</b>
  <%= @entrant.vehicle_model %>
</p>

<p>
  <b>Vehicle color:</b>
  <%= @entrant.vehicle_color %>
</p>

<% if @entrant.event.award_speed != 999 %>
  <p>
	<b>Previously recieved <%= @entrant.event.award_speed %> MPH Award :</b> <%= @entrant.past_award_speed ? "Yes" : "No" %>
  </p>

  <p>
	<b>Up for <%= @entrant.event.award_speed %> MPH Award : </b> <%= @entrant.eligible_for_speed_award? ? "Yes" : "No" %>
  </p>
<% end %>

<% top_speed = @entrant.top_speed %>
<h1>Top Speed : <%= top_speed %></h1>
<table>
  <tr>
    <th>Time</th>
    <th>Speed (MPH)</th>
  </tr>
<% @entrant.trap_speeds.sort {|a,b| a.capture_time <=> b.capture_time }.each do |trap_speed| %>
  <tr>
	<% if trap_speed.speed == top_speed %><b>
	  <td style="background-color:lightgreen;font-size:larger">
	<% else %>
	  <td>
	<% end %>
	  <%= trap_speed.capture_time_to_short_timestamp %>
	</td>
	<% if trap_speed.speed == top_speed %><b>
	  <td style="background-color:lightgreen;font-size:larger">
	<% else %>
	  <td>
	<% end %>
	  <%= trap_speed.show_speed(current_user) %>
	</td>
  </tr>
<% end %>
</table>


<% if current_user != nil and current_user.authorized?(:data_entry) %>
  <%= link_to 'Edit', edit_entrant_path(@entrant) %> |
<% end %>
<%= link_to 'Back', entrants_path %>
